<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>Contact Form from cagaros</h1>
    <p>A user has submitted a contact from cagaros.com/contact</p>
    <p>Contact name: {{firstName}} {{lastName}}</p>
    <p>Contact email: {{email}}</p>
    <p>Industry: {{industry}}</p>
  </body>
</html>